name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_BACKEND: ${{ github.repository_owner }}/guestbook-api
  IMAGE_FRONTEND: ${{ github.repository_owner }}/guestbook-web
   
jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set IMAGE_TAG
      run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.25
    
    - name: verify go modules
      run:  |
        cd backend  
        go mod verify
      
    - name: test backend
      run: |
        cd backend
        make test || go test ./...

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build backend image
      run: |
          docker build -t guestbook-backend:${IMAGE_TAG} ./backend

    - name: Build frontend image
      run: |
          docker build -t guestbook-frontend:${IMAGE_TAG} ./frontend
     
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
    
    - name: Setup Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: "24" 

    - name: Install HTMLHint
      run: npm install -g htmlhint      
    
    - name: run lint
      working-directory: ./frontend
      run: make lint
    

    - name: Push backend image
      run: |
            docker tag guestbook-api:${{ github.sha }} ghcr.io/${{ github.repository_owner }}/guestbook-api:${{ github.sha }}
            docker push ghcr.io/${{ github.repository_owner }}/guestbook-api:${{ github.sha }}
    
    - name: Push frontend image
      run: |
            docker tag guestbook-web:${{ github.sha }} ghcr.io/${{ github.repository_owner }}/guestbook-web:${{ github.sha }}
            docker push ghcr.io/${{ github.repository_owner }}/guestbook-web:${{ github.sha }}



